.sectionBorder {
    border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    border-radius: 25px;
    padding: 1.5rem;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--mantine-spacing-sm);
}

/* .itemDragging {
    box-shadow: var(--mantine-shadow-sm);
} */